# Configuration du serveur
PORT=3000
NODE_ENV=development

# Configuration Email (Nodemailer)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=prism.agency.web.contact@gmail.com
EMAIL_PASS=votre_mot_de_passe_application
EMAIL_FROM=prism.agency.web.contact@gmail.com
EMAIL_TO=prism.agency.web.contact@gmail.com

# Configuration du site
SITE_URL=http://localhost:3000
PHONE_NUMBER=0650036877

# Anti-spam
ENABLE_RECAPTCHA=false
RECAPTCHA_SECRET_KEY=votre_cle_recaptcha_si_active
